
*.001

.nextflow/

work/

.DS_Store

bin/ldpop/__pycache__/

.idea/

Output/

.nextflow.log

ReferenceOutput/

ReferenceOutput_ldhat/

ReferenceOutput_ldpop_approx/

ReferenceOutput_ldpop_exact/

.seed

lookupTable.txt

new_lk.txt
