manifest {
    description = 'Simulation pipeline for ldhat'
    nextflowVersion = '>= 20.10.0'
}

process {
    // conda = 'environment.yaml'
    container = 'sidkris/sim_run_ldhat:latest'

    executor = 'local'
    scratch = true

    cpus  = 1
    memory = 16.GB
    time = 2.h
}

docker {
    enabled = true
}

singularity {
    enabled = false
}

tower {
    accessToken = ''
    enabled = false
}