manifest {
    description = 'Simulation pipeline for ldhat'
    nextflowVersion = '>= 20.10.0'
}

process {
    container = 'sim_ldhat/sim_ldhat:latest'

    executor = 'local'
    scratch = true
    cpus  = 4
    memory = 12.GB
    time = 2.h
}

docker {
    enabled = true
}

tower {
    accessToken = ''
    enabled = false
}