manifest {
    description = 'Simulation pipeline for ldhat'
    nextflowVersion = '>= 20.10.0'
}

process {
    conda = 'environment.yaml'
    container = 'sim_run_ldhat/sim_run_ldhat:latest'

    executor = 'local'
    scratch = true

    cpus  = 1
    memory = 16.GB
    time = 5.d
}

docker {
    enabled = true
}

singularity {
    enabled = false
}

tower {
    accessToken = 'eyJ0aWQiOiAzMDQxfS5jNWFjNmJkMjA3NTY5YWI1NjMxYWRiOTVkNWI3NDlhMGJkMTk3OTg4'
    enabled = false
}